.img-parent-new {
  /* height: 45px;
  width: 45px; */
  border-radius: 50%;
  text-align: left;
  display: inline-block;
  margin-left: -40px;
}
.img-parent-new img {
  height: 35px;
  width: 40px;
}
.text-wrapper {
  margin-right: 5px;
  /* flex-direction: row-reverse; */
  width: 100px;
}
.spn {
  display: inline-block;
}

.text-wrapper p {
  margin-top: 0;
  margin-bottom: 1px;
  color: #777;
  text-align: inherit;
}
.text-wrapper span {
  color: #777;
}
.text-wrapper {
  float: right;
}
.text {
  color: rgb(91, 91, 247);
  font-size: 12px;
}
.info-td {
  color: rgb(83, 248, 83);
  font-size: 15px;
}
.font-icons {
  color: #757e83;
  line-height: 1.42857143;
  font-size: 40px;
  justify-content: space-between;
  padding: 15px;
}
.text-style:hover {
  text-decoration: underline rgb(59, 182, 231) 4px;
  transition: ease-in;
}
.icons-text {
  font-size: 20px;
  justify-content: space-between;
}
