.img-parent {
  height: 45px;
  width: 45px;
  background: #5bc554;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 2;
  display: flex;
}
.img-parent img {
  margin: 5px;
  position: absolute;
  height: 35px;
  width: 35px;
}
.text-wrapper h3 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 2px;
  color: #777;
  padding: 0;
  display: inline-block;
}
.text-wrapper span {
  color: #777;
}
.text-wrapper {
  float: right;
}
.search_icons {
  color: rgb(84, 142, 252);
  font-size: 15px;
}
.icon-parent {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #64646d;
  color: white;
  align-items: center;
  justify-content: center;
}
.icon-parent:hover {
  background-color: rgb(97, 95, 95);
  cursor: pointer;
}
.content-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 30px; */
}
