.card-img {
  height: 100%;
  width: 100%;
}
.card-title {
  text-align: center;
  font-size: 18px;
  color: rgb(107, 107, 107);
}
.card-text {
  color: rgb(107, 107, 107);
  text-align: center;
}
.card-text2 {
  color: rgb(173, 101, 240);
  text-align: center;
  font-size: 15px;
}
.checkout-heading {
  color: rgb(53, 52, 52);
}
